h3{
display: flex;
justify-content: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}